
.main{
    padding: 10px 10px 0 10px;
}

.header {
    text-align: center;
    height: 10vh;
}

.body {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.center {
    width: 95vw;
}

.social {
    display: flex;
    flex-direction: column;
}

.footer {

}

.btncta {
    width: 300px;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}

.btnctaarea{
    text-align: center;
    padding: 15px 0 15px 0;
}

@media (max-width: 426px) {
    .center {
        width: 100vw;
    }
    .body {
        display: flex;
        flex-direction: column;
    }
}